@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Urbanist";
  src: url("./fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}
